DATABASE_URL=

REDIS_URL=

S3_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_REGION_NAME=
S3_BUCKET=

OPENAI_API_KEY=
OPENAI_MODEL=

NL2SQL_MAX_ROWS=
NL2SQL_ANALYTICS_MAX_ROWS=
NL2SQL_MAX_CHART_POINTS=
NL2SQL_CHARTS_DIR=